# custom 404 redirect
ErrorDocument 404 /404.html



# remove html from URLs
RewriteEngine on

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

RewriteEngine off



# remove index.html from URL
Options +FollowSymLinks
RewriteEngine on

RewriteCond %{THE_REQUEST} /index.html HTTP [NC]
RewriteRule (.*)index.html$ /$1 [R=301,L]

RewriteEngine off



# remove html folder from URL
Options +FollowSymLinks -MultiViews
# Turn mod_rewrite on
RewriteEngine On
RewriteBase /

RewriteRule ^html/(.*)$ /$1 [L,NC,R]

RewriteEngine off
